<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note List</title>
    <style>
      body{
        margin: 0;
        padding: 0;
        background: linear-gradient(120deg, #00c3ff, #ffff1c);
        height: 100vh;
        overflow: hidden;
      }

      table{
          position: absolute;
          z-index: 2;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 60%;
          border: collapse;
          border-spacing:0 ;
          border-radius: 12px 12px 0 0;
          overflow: hidden;
          box-shadow: 0 1px 10px rgba(250, 250, 250, 1);
          background: #fafafa;
          text-align: center;
      }

      th,td{
          padding: 10px 15px;
      }

      th{
          font-family: montserrat;
          background: #F9F871;
          text-transform: uppercase;
      }

      tr{
          font-family: sans-serif;
      }

      tr:nth-child(even){
          background-color: #eeeeee;
      }

      ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background: #F9F871;
      }

      li{
        float: right;
      }

      li a{
        display: block;
        padding: 14px 16px;
        color: black;
        text-decoration: none;
        font-family:  montserrat;
      }

    </style>
  </head>
  <body>
      <ul>
        <li><a href="/lab-4/">List</a></li>
        <li><a href="/lab-4/add-note">Send</a></li>
        <li><a href="/lab-4/note-list">Card</a></li>
      </ul>
    
    <table>
      <tr>
        <th>To</th>
        <th>From</th>
        <th>Title</th>
        <th>Message</th>
      </tr>
      {% if note %}
        {% for var in note %}
        <tr>
          <td>{{var.to}}</td>
          <td>{{var.dari}}</td>
          <td>{{var.title}}</td>
          <td>{{var.message}}</td>
        </tr>
        {% endfor %}
      {% endif %}
    </table>
  </body>
</html>