<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <title>Note Form</title>
    <style>
      body{
        margin: 0;
        padding: 0;
        font-family: montserrat;
        background: linear-gradient(120deg, #00c3ff, #ffff1c);
        height: 100vh;
        overflow: hidden;
      }
      .center{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 600px;
          background: white;
          border-radius: 10px;
          box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
      }
      .center h1{
          text-align: center;
          padding: 20px 0;
          border-bottom: 1px solid silver;
      }
      .center form{
          padding: 0 40px;
          box-sizing: border-box;
      }
      form .to_field{
          position: relative;
          border-bottom: 2px solid #adadad;
          margin: 30px 0;
      }
      .to_field input{
          width: 502px;
          padding: 0 5px;
          height: 40px;
          font-size: 16px;
          font-family: montserrat;
          border: none;
          background: none;
          outline: none;
      }
      .to_field label{
          position: absolute;
          top: 50%;
          left: 5px;
          color: #adadad;
          transform: translateY(-50%);
          font-size: 16px;
          pointer-events: none;
          transition: .5s;
      }
      .to_field span::before {
          content: '';
          position: absolute;
          top: 10px;
          left: 0;
          width: 0%;
          height: 2px;
          background: #00c3ff;
          margin: 30px 0;
          transition: .5s;
      }
      .to_field input:focus ~ label,
      .to_field input:valid ~ label{
          top: -5px;
          color: #00c3ff;
      }
      .to_field input:focus ~ span::before,
      .to_field input:valid ~ span::before{
          width: 100%;
      }

      input[type="submit"]{
          width: 100%;
          height: 50px;
          border: 1px solid;
          background:#1cafdb;
          border-radius: 25px;
          font-size: 18px;
          color: #e9f4fb;
          font-weight: 700;
          cursor: pointer;
          outline: none;
          margin: 30px 0;
      }

      ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background: #F9F871;
      }

      li{
        float: right;
      }

      li a{
        display: block;
        padding: 14px 16px;
        color: black;
        text-decoration: none;
        font-family:  montserrat;
      }

    </style>
  </head>
  <body>

    <ul>
      <li><a href="/lab-4/">List</a></li>
      <li><a href="add-note">Send</a></li>
      <li><a href="note-list">Card</a></li>
    </ul>

    <div class="center">
      <h1>Send Message to Someone</h1>
      <form action="" method="POST">
        {% csrf_token %}
        <div class="to_field">
          <input id="id_to" type="text" name="to" required>
          <span></span>
          <label for="id_to">To</label><br>
        </div>

        <div class="to_field">
          <input id="id_dari" type="text" name="dari" required>
          <span></span>
          <label for="id_dari">From</label><br>
        </div>

        <div class="to_field">
          <input id="id_title" type="text" name="title" required>
          <span></span>
          <label for="id_title">Title</label><br>
        </div>

        <div class="to_field">
          <input id="id_message" type="text" name="message" required>
          <span></span>
          <label for="id_message">Message</label><br>
        </div>

        <input type="submit" value="Send">
      </form>
    </div>
  </body>
</html>