<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Note List</title>
        <style>
            body{
                padding: 0;
                margin: 0;
            }
            .isi {
                margin: 0;
                padding: 0;
                font-family: montserrat;
                min-height: 100vh;
                display: flex;
                justify-content: flex;
                background: linear-gradient(120deg, #00c3ff, #ffff1c);
            }

            .card{
                background-color: transparent;
                width:500%;
                height: 300px;
                perspective: 1000px;
                display: flex;
                justify-content: flex;
                align-items: center;
                margin-left: 30px;
                margin-right: 40px;
                margin-top: 200px;
                justify-self: auto;
                
            }

            .inner{
                background-color: #2980b9;
                margin: 20px;
                padding: 25px;
                justify-self: auto;
                position: relative;
                width: 300px;
                height: 100%;
                text-align: center;
                transition: transform 0.6s;
                transform-style: preserve-3d;
                box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            }

            .card:hover .inner{
                transform: rotateY(180deg);
            }

            .front, .back{
                position: absolute;
                width: 100%;
                height: 100%;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
            }

            .front{
                background-color: #F9F871;
                text-align: center;
                color: black;
            }

            .back{
                background-color:#F9F871;
                color: black;
                transform: rotateY(180deg);
                
            }

            ul{
                padding: 0;
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                background: #F9F871;
                width: auto;
            }

            li{
                float: right;
            }

            li a{
                display: block;
                padding: 14px 16px;
                color: black;
                text-decoration: none;
                font-family:  montserrat;
            }
        </style>
    </head>

    <body>
        
        <ul>
            <li><a href="/lab-4/">List</a></li>
            <li><a href="add-note">Send</a></li>
            <li><a href="note-list">Card</a></li>
        </ul>
        <div class="isi">
    
            {%for var in note%}
            <div class="card">
                <div class="inner">
                    <div class="front">
                        <h1>{{var.title}}</h1>
                    </div>
    
                    <div class="back">
                        <h3>To {{var.to}},</h3>
                        <h3>From {{var.dari}}</h3>
                        <p>{{var.message}}</p>
                    </div>
                </div>
            </div>
            {%endfor%} 
        </div>
    </body>
</html>