<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
  </head>
  <body>
    <h1>Friend List</h1>
    <table>
      <form action="" method="POST">
          {% csrf_token %}

          {{dari.as_p}}

          <input type="submit" value="Submit">
      </form>
    </table>
  </body>
</html>