<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note List</title>
  </head>
  <body>
    <table>
      <tr>
        <th>To</th>
        <th>From</th>
        <th>Title</th>
        <th>Message</th>
      </tr>
      {% for var in note%}
      <tr>
        <td>{{var.to}}</td>
        <td>{{var.dari}}</td>
        <td>{{var.title}}</td>
        <td>{{var.message}}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
